@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Airbnb Cereal App', ui-sans-serif;
}
.printArea{
	-webkit-print-color-adjust: exact;
  background-color: #fff;
  position: relative;
}
img{
  @apply select-none;
}

[data-fill]{
  cursor: pointer;
  position: relative;
  z-index: 1;
}
[data-fill]:not([data-fill-val]):after{
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(240,249,144, 0.5);
  @apply inset-0;
  z-index: -2;
}
[data-fill]:before{
  content: "";
  display: block;
  position: absolute;
  @apply transition;
  @apply -inset-1;
  @apply -skew-y-3;
  z-index: -1;
}
[data-fill]:hover:before{
  background-color: rgba(236,72,153, 1);
}
[data-fill]:hover{
  color: #fff;
}

@media screen{
  body{
    background-color: #f3f4f6;
    padding: 20px;
  }
  .printArea{
    box-shadow: 0 0 5px rgba(0, 0, 0, 20%);
    /* border: 1px #D3D3D3 solid; */
    border-radius: 5px;
    margin:0 auto 10px;
    overflow: visible;
    max-width: 100%;
  	width: 210mm;
    min-width: 210mm;
  	min-height: 296mm;
  	height: 296mm;
  	overflow-x: auto;
  }
}

@media print {
  @page {
    size: A4;
  }
}
