{% if site.analytics.enabled %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.measurementId }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());
	gtag("config", "{{ site.analytics.measurementId }}");
</script>
{% endif %}
