<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5" />
	<title>{{ site.metadata.title }}</title>
	<meta name="description" content="{{ site.metadata.description }}" />
	<meta name="keywords" content="{{ site.metadata.keywords }}" />
	<meta name="date" content="{{ site.metadata.date }}" />
	<meta property="og:title" content="{{ site.metadata.socialTitle }}" />
	<meta property="og:type" content="document" />
	<meta property="og:url" content="{{ site.metadata.url }}" />
	<meta property="og:image" content="{{ site.metadata.image }}" />
	<meta property="og:description" content="{{ site.metadata.socialDescription }}" />
	<meta name="twitter:card" content="{{ site.metadata.twitterCard }}" />
	<meta name="twitter:url" content="{{ site.metadata.url }}" />
	<meta name="twitter:title" content="{{ site.metadata.socialTitle }}" />
	<meta name="twitter:description" content="{{ site.metadata.socialDescription }}" />
	<meta name="twitter:image" content="{{ site.metadata.image }}" />
	<meta name="author" content="{{ site.metadata.author }}" />
	<link href="{{ site.metadata.authorUrl }}" rel="author" />
	<link href="{{ site.assets.favicon }}" type="image/png" rel="icon" />
	<link rel="stylesheet" href="{{ site.assets.fontStylesheet }}" />
	<link rel="stylesheet" href="{{ site.assets.resumeStylesheet }}" />
	<link rel="stylesheet" href="{{ site.assets.themeStylesheet }}" />
</head>
