<!doctype html>
<html lang="{{ site.metadata.language }}" dir="{{ site.metadata.direction }}" prefix="og: http://ogp.me/ns#">
	{% include "head.njk" %}
	<body>
		{% include "banner.njk" %}
		<div id="pageContainer" class="overflow-auto">
			<div id="printArea" data-size="{{ layout.page.size }}"
				data-layout-label="{{ layout.page.label }}" data-overflow-policy="{{ layout.page.overflowPolicy }}"
				data-page-width="{{ layout.page.width }}" data-page-height="{{ layout.page.height }}">
				{% include "header.njk" %}
				<main class="flex space-x-4 mx-6 mt-4 mb-4 bg-white">
					<div class="basis-1/2">
						{% for section in leftSections %}
							{% include "sections/" + section.id + ".njk" %}
						{% endfor %}
					</div>
					<div class="basis-1/2">
						{% for section in rightSections %}
							{% include "sections/" + section.id + ".njk" %}
						{% endfor %}
					</div>
				</main>
			</div>
		</div>
		<script id="runtime-config" type="application/json">{{ runtimeConfig | jsonScript }}</script>
		<script type="module" src="{{ site.assets.runtimeScript }}"></script>
		{% include "analytics.njk" %}
	</body>
</html>
