<article class="mb-2.5" data-section-id="{{ section.id }}">
	{% include "section-heading.njk" %}
	{% for item in section.items %}
	<section class="mb-1" data-item-id="{{ item.id }}">
		<div class="flex items-center">
			{% if "title" in item.fields %}<h4 class="grow text-base leading-5 font-light">{{ item.title }}</h4>{% endif %}
			{% if "location" in item.fields %}<div class="grow-0 text-stone-500 text-xs">{{ item.location }}</div>{% endif %}
		</div>
		<div class="flex flex-wrap text-xs">
			{% if "description" in item.fields %}<div class="grow leading-4 text-stone-600">{{ item.description | richText }}</div>{% endif %}
			{% if "date" in item.fields and item.datePlacement == "before-container" %}
			<time datetime="{{ item.date.datetime }}">{{ item.date.label }}</time>
			<div dir="ltr" class="grow-0 text-stone-900"></div>
			{% elif "date" in item.fields %}
			<div dir="ltr" class="grow-0 text-stone-900"><time datetime="{{ item.date.datetime }}">{{ item.date.label }}</time></div>
			{% endif %}
		</div>
	</section>
	{% endfor %}
</article>
