@tailwind base;
@tailwind components;
@tailwind utilities;

.printArea{
	-webkit-print-color-adjust: exact;
	background: #fff;
}
@media screen{
  .printArea{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    margin:10px auto 10px;
    overflow: visible;
    max-width: 100%;
  	width: 210mm;
  	min-height: 296mm;
  	height: 296mm;
  	overflow-x: auto;
  }
}
